doctype html
html
  head
  title About me
  body
    header Страничка об мне

    nav 
        a(href="/about_me") HBS |
        a(href="/about_me/EJS") EJS
    
    p Это страница сделана на PUG
    footer The End